html {
    min-width: 320px;
    box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);
}
body {
    font-family: 'TT Lakes';
    min-width: 320px;
}
.button {
    border: none;
    background: white;
}
.menuburger {
    display: flex;
    width: 320px;
}
.menuburger__search,
.menuburger__cancel {
    width: 40px;
    height: 40px;
    background: url(image/back.png) no-repeat 50% 50%;
}
.menuburger__cancel {
  margin: 23px 0 0 24px;
}
.menuburger__search {
   margin: 23px 24px 0 0;
}
.menuburger__group {
    padding: 18.73px 78.73px 30px 16.73px;
}
.swipe {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0 0 0 24px;
}
a {
    text-decoration: none;
}
a:hover {
    color: #7E7E82;
}
.aside__icon {
    content: "";
    width: 3px;
    height: 32px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: #41f6d7;
    position: absolute;
    left:10px;
    top:120px;
}
li {
    margin: 0 0 32px 0;
}
.swipe__text8 {
    margin: 0 0 268px 0;
}
.aside__footer {
    display: flex;
    flex-direction: row;
}
.aside__img {
    margin: 0 16px 16px 24px;
}
.aside__chat {
    margin: 0 16px 16px 0;
}
.aside__mail {
    margin: 0 0 12px 24px;
}
.aside__number {
    font-size: 24px;
    font-family: Bold;
    margin: 0 0 0 24px;
}
.aside__lang {
    font-size: 16px;
    font-family: 'TT Lakes';
    margin: 40px 0 32px 24px;
}
.lang__ru:hover {
    color: #7E7E82;
}
.lang__en:hover {
    color: #7E7E82;
}
.lang__ch:hover {
    color: #7E7E82;
}
